
body {
    --davys-grey: hsla(30, 5%, 36%, 1);
    --rocket-metallic: hsla(21, 6%, 49%, 1);
    --olivine: hsla(83, 31%, 65%, 1);
    --tea-green: hsla(90, 97%, 86%, 1);
    --nyanza: hsla(80, 77%, 93%, 1);
    
    --header-height: 100px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--color2);
}

main {
    /* display: flex;
    flex-direction: column; */
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}

section {
    background-color: var(--color5);
    width: 1000px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    text-align: left;

    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px var(--color1);
    margin-left: 10px;
}

p {
    margin: var(--gutter);
    display: flex;
    margin: 10px;
    padding: 10px;
    width: 200px;
}
  

header {
    /* display: flex;
    justify-content: center; */
    background-color: var(--nyanza);
    height: var(--header-height);
    box-shadow: var(--shadow);
}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.cryptid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: bisque;
    width: 200px;
    margin: 10px;
    padding: 10px;
}



h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

table, th, td {
    table-layout: auto;
    border: black 1px solid;
    align-content: center;
}


.links {
    display: flex;
}

.gutter-right {
    margin-right: 20px;
}

#place-order-button {
    width: 100px;
}

header img {
    height: var(--header-height);
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}
  
  @keyframes pulse {
    20% {
      transform: rotate3d(-10, -10, -10, 50deg) scale(1.2);
    }

    40% {
        transform: rotate3d(10, 10, -10, 50deg) scale(1);
    }

    60% {
        transform: rotate3d(-10, 10, 10, 50deg) scale(1.2);
      }

    80% {
        transform: rotate3d(10, 10, 10, 50deg) scale(1);
    }

  }
